<?php
// Do not display PHP errors
$conf['show_php_errors'] = '';

{# Folder synchronization #}
{% if webapp_piwigo['config']['synchronization']['exclude_folders'] %}
$conf['sync_exclude_folders'] = array(
{% for f in webapp_piwigo['config']['synchronization']['exclude_folders'] %}
  '{{ f }}',
{% endfor %}
);
{% endif %}
{% if webapp_piwigo['config']['synchronization']['chars_regex'] %}
$conf['sync_chars_regex'] = "{{
  webapp_piwigo['config']['synchronization']['chars_regex']
}}";
{% endif %}

{# IPTC metadata importation #}
{% if webapp_piwigo['config']['metadata']['iptc']['import']['enabled'] %}
$conf['use_iptc'] = true;
$conf['use_iptc_mapping'] = array(
{% for k,v in webapp_piwigo['config']['metadata']['iptc']['import'][
  'mappings'].items() %}
  '{{ k }}' => '{{ v }}',
{% endfor %}
);
{% endif %}
?>
