<?php
$conf['dblayer'] = 'mysqli';
$conf['db_base'] = '{{ webapp_piwigo.settings.database.name }}';
$conf['db_user'] = '{{ webapp_piwigo.settings.database.user }}';
$conf['db_password'] = '{{ webapp_piwigo.settings.database.pass }}';
$conf['db_host'] = '{{ webapp_piwigo.settings.database.host }}';

$prefixeTable = '{{ webapp_piwigo.settings.database.prefix }}';

define('PHPWG_INSTALLED', true);
define('PWG_CHARSET', 'utf-8');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

?>
